[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

"e1839a8" = {path = ".", editable = true}


[dev-packages]

pytest = "*"
pytest-cache = "*"
sphinx = "*"
"e1839a8" = {editable = true, path = "."}
